@using OpenCredentialPublisher.Data.ViewModels.Credentials;
@model ClrViewModel
@{
    ViewData["Title"] = "Comprehensive Learner Record";
    var showDownloadVCJsonButton = (bool)ViewData["ShowDownloadVCJsonButton"];
    var id = (string)ViewData["Id"];
    var accessKey = (string)ViewData["AccessKey"];
}

@* Header *@

<div class="row credential-row mb-3">
    <div class="col">
        
        @if (Model.Clr.IsRevoked)
        {
            <p class="alert-danger alert">
                This <b>@(Model.Clr?.Name ?? "Comprehensive Learner Record")</b> has been revoked and is no longer valid.
            </p>
        }
        <div class="card">
            <div class="card-body">
                <div class="h5 card-title">

                </div>
                <div class="card-text">
                    <dl class="row">
                        <dt class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Learner
                        </dt>
                        <dd class="col-12 col-sm-7 col-md-8 col-lg-9">
                            @(Model.Clr.LearnerName)
                        </dd>
                        <dt class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Document Type
                        </dt>
                        <dd class="col-12 col-sm-7 col-md-8 col-lg-9">
                            @(Model.Clr?.Name ?? "Comprehensive Learner Record")
                        </dd>
                        <dt class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Issuing Organization
                        </dt>
                        <dd class="col-12 col-sm-7 col-md-8 col-lg-9">
                            @(Model.Clr.PublisherName)
                        </dd>
                        <dt class="col-12 col-sm-5 col-md-4 col-lg-3">
                            Published date/time
                        </dt>
                        <dd class="col-12 col-sm-7 col-md-8 col-lg-9">
                            @Model.Clr.IssuedOn.ToString("g")
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-xl-3 row-cols-sm-1 row-cols-md-2 mt-5">
            @if (!Model.Clr.IsRevoked && Model.RawClrDType?.Verification != null)
            {
                <div class="col mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-title">
                                Please confirm the authenticity of the Comprehensive Learner Record (CLR)
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                @{ const string labels = "<div>Hosted</div>" + "<div>Signed</div>";
                                                    var verification = Model.RawClrDType.Verification; }


                                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-loading="#loader" data-ajax-complete="verify_complete" asp-page-handler="">
                                    <dl class="row">
                                        <dt class="col-4 col-sm-3">
                                            <input type="hidden" name="ClrEntityId" value="@Model.Clr.Id" />
                                            <input type="hidden" name="ClrId" value="@Model.RawClrDType.Id" />
                                            <input type="submit" class="btn btn-outline-info" value="Verify" />
                                        </dt>
                                        <dd class="col-8 col-sm-9">
                                            <div style="padding-top: 5px;">
                                                @verification.Type.ToEnumMemberValue()
                                                <img src="~/images/noun_Info_742307.svg" style="width: 1.5em" alt="Info"
                                                        data-toggle="tooltip" data-html="true" title="@labels" />
                                            </div>
                                            <div class="mt-2">
                                                <span id="verification-result-@Model.Clr.Identifier.ToString().SafeId()"></span>
                                            </div>
                                            <div class="mt-2"><span id="revocationlist-result-@Model.Clr.Identifier.ToString().SafeId()"></span></div>
                                        </dd>
                                        @if (verification.Creator != null)
                                        {
                                            <dt class="col-3">Creator</dt>
                                            <dd class="col-9">@verification.Creator</dd>
                                        }
                                    </dl>
                                </form>

                            </li>
                        </ul>
                    </div>
                </div>}
            @if (Model.Pdfs.Any())
            {
                <div class="col mb-3">

                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-title">
                                You may also download a document version of the student evidence.
                            </div>

                        </div>
                        <ul class="list-group list-group-flush">
                            @foreach (var pdf in Model.Pdfs)
                            {
                                <li class="list-group-item">
                                    @if (pdf.IsPdf)
                                    {
                <span style="line-height: 46px;">
                    @pdf.ArtifactName
                </span>
                <form method="post" class="float-right">
                    <input type="hidden" name="clrId" value="@pdf.ClrId" />
                    <input type="hidden" name="assertionId" value="@pdf.AssertionId" />
                    <input type="hidden" name="artifactId" value="@pdf.ArtifactId" />
                    <input type="hidden" name="evidenceName" value="@pdf.EvidenceName" />
                    <input type="hidden" name="artifactName" value="@pdf.ArtifactName" />
                    <input type="hidden" name="AccessKey" value="@accessKey" />
                    <button type="submit" class="btn text-secondary btn-lg btn-outline-secondary" title="View @pdf.ArtifactName" asp-page-handler="Pdf"><i class="fas fa-file-pdf fa-2x"></i></button>
                </form>}
                                </li>

                            }
                        </ul>
                    </div>
                </div>
            }
            @if (showDownloadVCJsonButton)
            {
                <div class="col mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-title">
                                If your system is capable of ingesting verifiable credentials, download the machine-readable version.
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span style="line-height: 46px;">
                                    Verifiable Credential
                                </span>
                                <form method="post" class="float-right">
                                    <input type="hidden" name="AccessKey" value="@accessKey" />
                                    <input type="hidden" name="id" value="@id" />
                                    <button type="submit" asp-page-handler="DownloadVCJson" class="btn btn-lg btn-outline-secondary text-secondary" title="Download Verifiable Credential"><i class="fas fa-file-download fa-2x"></i></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            </div>
    </div>
</div>
