@model VerifiableCredentialModel
@{
    ViewData["Title"] = "Comprehensive Learner Record";
}


@* Header *@
<div class="row credential-row mb-3">
    <div class="col">
        <div class="card mt-3 mb-3">
            <h5 class="card-header pg-info">Verifiable Credential</h5>
            <div class="card-body card-deck">
                <div class="card border-0">
                    <dl class="row">
                        <dt class="col-sm-3">Id</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(x => x.Identifier, "Uri")</dd>
                        <dt class="col-sm-3">Issuer</dt>
                        <dd class="col-sm-9">@Model.Issuer</dd>
                        <dt class="col-sm-3">Issued</dt>
                        <dd class="col-sm-9">@Model.IssuedOn.ToLocalTime().ToString("g")</dd>
                        <dt class="col-sm-3">Credentials</dt>
                        <dd class="col-sm-9">@Model.CredentialsCount</dd>

                    </dl>
                </div>
            </div>
        </div>

        <div class="card-deck">

            @* Proof *@

            <div class="card">
                <h5 class="card-header bg-info">Proof</h5>
                <div class="card-body">
                    @Html.DisplayFor(m => m.VerifiableCredential.Proof, "Proof", new { CredentialPackageId = Model.CredentialPackageId })
                </div>
            </div>
        </div>

        @* CLRs *@

        @if (Model.AllClrs.Any())
        {
            foreach (var clr in Model.AllClrs)
            {
                @Html.DisplayFor(m => clr, "Clr")
            }
        }

    </div>
</div>
