@page
@model OpenCredentialPublisher.ClrWallet.Pages.Links.CreateModel
@{
    ViewData["Title"] = "Share your credential";
}

<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">
            <h1>Share your credential</h1>

            <div class="alert alert-primary">
                <p>
                    A link is a URL you can share with people that lets them see your credential. The people that click on the link will
                    only be able to see the one credential you select.
                </p>
                <p>
                    Please use a nickname that helps you remember who you shared the link with.
                </p>
            </div>

            <form method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="4">Credential</th>
                            <th colspan="2">Link</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Publisher</th>
                            <th>Name</th>
                            <th>Published</th>
                            <th>Added</th>
                            <th>Nickname</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Links.Count; i++)
                        {
                            var index = i;

                        <tr>
                            <td>
                                <input type="hidden" asp-for="Links[index].SourceName" />
                                @if (Model.Links[index].SourceName == null)
                                {
                                    <span>Upload</span>
                                }
                                else
                                {
                                    <img src="~/images/noun_right_975614.svg" height="30" width="30"
                                         title="Source: @Model.Links[index].SourceName" />
                                }
                            </td>
                            <td>
                                <input type="hidden" asp-for="Links[index].PublisherName" />
                                @Model.Links[index].PublisherName
                            </td>
                            <td>
                                <input type="hidden" asp-for="Links[index].Name" />
                                @Model.Links[index].Name
                            </td>
                            <td>
                                <input type="hidden" asp-for="Links[index].CreatedAt" />
                                @Model.Links[index].CreatedAt
                            </td>
                            <td>
                                <input type="hidden" asp-for="Links[index].AddedOn" />
                                @Model.Links[index].AddedOn
                            </td>
                            <td class="form-group">
                                <input type="text" class="form-control" asp-for="Links[index].Nickname" />
                                <span asp-validation-for="Links[index].Nickname" class="text-danger"></span>
                            </td>
                            <td class="form-group">
                                <input type="hidden" asp-for="Links[index].ClrId" />
                                <input type="hidden" asp-for="Links[index].SourceId" />
                                <button type="submit" class="btn btn-primary" asp-route-clrId="@Model.Links[index].ClrId">Create</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </form>

            <a asp-page="./Index">Back to Shared Credentials</a>
        </section>
    </div>
</div>
