@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger mt-2"></div>

@if (User.Identity.IsAuthenticated)
{
<div class="row credential-row mt-5">
    <div class="col">
        <section class="default-container p-5">

            <div class="card-deck">
                <div class="card">
                    <h5 class="card-header">Credentials</h5>
                    @if (Model.CredentialPackages.Count == 0)
                    {
                        <div class="card-body">
                            <p class="card-text">Upload or get your credentials from a source to get started</p>
                        </div>
                    }
                    else
                    {
                <div class="card-body">

                    @foreach (var cp in Model.CredentialPackages)
                    {
                        if (cp.TypeId == PackageTypeEnum.Clr)
                        {
                            <div class="card">
                                <h5 class="card-header">CLR</h5>
                                <div class="card-body">
                                    <a class="card-text" asp-page="Credentials/Display" asp-route-id="@cp.Id">
                                        @cp.Clr.PublisherName <span>-</span> @cp.Clr.IssuedOn.ToShortDateString()
                                    </a>
                                    <span class="badge badge-primary badge-pill" title="This CLR has @cp.Clr.AssertionsCount achievements">
                                        @cp.Clr.AssertionsCount
                                    </span>
                                </div>
                            </div>
                        }
                        if (cp.TypeId == PackageTypeEnum.VerifiableCredential)
                        {
                            @*<div class="card">
                                <h5 class="card-header">VC</h5>
                                <div class="card-body">
                                    <a class="card-text" asp-page="Credentials/Display" asp-route-id="@cp.Id">
                                        @cp.VerifiableCredential.Issuer <span>-</span> @cp.VerifiableCredential.IssuedOn.ToShortDateString()
                                    </a>
                                    <span class="badge badge-primary badge-pill" title="This VC has @cp.VerifiableCredential.CredentialsCount credentials">
                                        @cp.VerifiableCredential.CredentialsCount
                                    </span>
                                </div>
                            </div>*@
                                                        <section class="my-3 assertion-section p-3">
                                                            <div class="row assertion-header">
                                                                <div class="col">
                                                                    <a class="card-text" asp-page="Credentials/Display" asp-route-id="@cp.Id">
                                                                        @cp.VerifiableCredential.Issuer <span>-</span> @cp.VerifiableCredential.IssuedOn.ToShortDateString()
                                                                    </a>
                                                                    <span class="badge badge-primary badge-pill" title="This VC has @cp.VerifiableCredential.CredentialsCount credentials">
                                                                        @cp.VerifiableCredential.CredentialsCount
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        }

                    }
                </div>
                    }
                    <div class="card-footer">
                        <a class="btn btn-link" asp-page="Credentials/Index">Manage your Credentials</a>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Shared Credentials</h5>
                    <div class="card-body">
                        @if (Model.Links.Count == 0)
                        {
                            <p class="card-text">Share you credential to get started</p>
                        }
                        @foreach (var link in Model.Links)
                        {

                            <section class="my-3 assertion-section p-3">
                                <div class="row assertion-header">
                                    <div class="col">
                                        <a class="card-text" asp-page="Links/Display" asp-route-id="@link.Id">@link.Nickname</a>
                                        <span class="badge badge-primary badge-pill" title="This shared credential has been launched @link.DisplayCount times">
                                            @link.DisplayCount
                                        </span>
                                    </div>
                                </div>
                            </section>
                        }
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-link @(Model.CredentialPackages.Count == 0 ? "disabled" : "")" asp-page="Links/Index">Manage your shared credentials</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
}

