@page
@model OpenCredentialPublisher.ClrWallet.Pages.Recipients.IndexModel
@{
    ViewData["Title"] = "Recipients";
    var dict = new Dictionary<string, string> { { "LinkId", Model.LinkId } };

}

<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">
            <h1>Your Recipients</h1>

            <div class="alert alert-primary">
                A recipient is someone that you may share your credentials with
            </div>

            <a asp-page="./Create" asp-all-route-data="dict">Add a new recipient</a>

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recipient in Model.Recipients)
                    {
                        <tr>
                           
                            <td>@recipient.Name</td>
                            <td>@recipient.Email</td>
                            <td>@recipient.CreatedOn.ToString("g")</td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@recipient.Id" asp-route-linkId="@Model.LinkId" title="Edit Recipient"><i class="fas fa-edit fa-2x"></i></a>
                                <a asp-page="./Delete" asp-route-id="@recipient.Id" asp-route-linkId="@Model.LinkId" title="Delete Recipient"><i class="fas fa-trash fa-2x"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!String.IsNullOrEmpty(Model.LinkId))
            {
                <a asp-page="/Links/Share" asp-route-id="@Model.LinkId">Share your credential</a> <span> | </span> 
            }
            <a asp-page="/Links/Index">Back to shared credentials</a>

        </section>
    </div>
</div>
