@using OpenCredentialPublisher.Data.ViewModels.Credentials;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Converters;
@using System.Dynamic;
@model AssertionViewModel
@using Newtonsoft
@{
    dynamic badgeClass = JsonConvert.DeserializeObject<ExpandoObject>(Model.BadgrAssertion.BadgeClassJson, new ExpandoObjectConverter());
    var badgeName = ((IDictionary<string, object>)badgeClass)["name"];
    var badgeDescription = ((IDictionary<string, object>)badgeClass)["description"];
    dynamic issuer = JsonConvert.DeserializeObject<ExpandoObject>(Model.BadgrAssertion.IssuerJson, new ExpandoObjectConverter());
    var issuerName = ((IDictionary<string, object>)issuer)["name"];

}
<style type="text/css">    
.badgr-image {
    height: 80px;
    width: 80px;
}
.badgr-badgeName {
    font-weight: bold;
}
.badgr-issuerName {
    font-weight: bold;
}
</style>
<div class="col-4">
    <div class="row">
        <div class="col-4">
            <img class="badgr-image" alt="Badge image" class="badgeimage" src="@Model.BadgrAssertion.Image" title="Image for Badge: @badgeName">
        </div>
        <div class="col-8">
            <div class="row">
            <a href="https://api.badgr.io/public/assertions/@Model.BadgrAssertion.Id"> <span class="badgr-badgeName">@badgeName</span> </a>
            </div>
            <div class="row">
            <span class="badgr-issuerName">@issuerName</span>
            </div>            
            <div class="row">
            <span>@badgeDescription</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <a href=@(@$"/Credentials/Display?id={Model.BadgrAssertion.BadgrAssertionId}&action=b2c")>
            Convert to CLR
        </a>
    </div>
</div>


