@page
@model OpenCredentialPublisher.ClrWallet.Pages.Clrs.CreateModel
@{
    ViewData["Title"] = "Create Curated Collection";
}

<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">
            <h1>@ViewData["Title"]</h1>

            <div class="alert alert-primary">
                All of the assertions in the selected CLRs will be combined into a custom CLR.
            </div>

            <div asp-validation-summary="All" class="alert alert-danger mt-2"></div>

            <form method="post">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th></th>
                                <th>Publisher</th>
                                <th>Published</th>
                                <th>Name</th>
                                <th class="text-center">Assertions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Clrs.Count == 0)
                            {
                                <tr>
                                    <td colspan="5">
                                        Connect to a source or import a CLR file you received directly from a publisher.
                                    </td>
                                </tr>
                            }
                            @{
                                for (var i = 0; i < Model.Clrs.Count; i++)
                                {
                                    var index = i;

                                    <tr>
                                        <td>
                                            <input type="checkbox" asp-for="Clrs[index].Selected" />
                                            <input type="hidden" asp-for="Clrs[index].Clr.Id" />
                                        </td>
                                        <td class="align-middle">
                                            @if (Model.Clrs[index].Clr.Authorization == null)
                                            {
                                                <img src="~/images/noun_File_1909649.svg" style="height: 1.5em;"
                                                     title="Uploaded on @Model.Clrs[index].Clr.RefreshedAt.ToShortDateString()." />
                                            }
                                            else
                                            {
                                                <img src="~/images/noun_Data_942487.svg" style="height: 1.5em;"
                                                     title="Retrieved on @Model.Clrs[index].Clr.RefreshedAt.ToShortDateString()." />
                                            }
                                        </td>
                                        <td class="align-middle">@Model.Clrs[index].Clr.PublisherName</td>
                                        <td class="align-middle">@Model.Clrs[index].Clr.IssuedOn.ToShortDateString()</td>
                                        <td class="align-middle">@Model.Clrs[index].Clr.Name</td>
                                        <td class="align-middle text-center">@Model.Clrs[index].Clr.AssertionsCount</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <input type="submit" asp-page-handler="" value="Create" class="btn btn-primary" />
                </div>
            </form>

            <div class="pt-3">
                <a asp-page="/Index">Back to Dashboard</a>
            </div>
        </section>
    </div>
</div>
