@page
@model OpenCredentialPublisher.ClrWallet.Pages.Clrs.DisplayModel
@{
    ViewData["Title"] = "Comprehensive Learner Record";
}

<style>
    .pg-info, .bg-info, .pg-info:hover, .bg-info:hover {
        background-color: #9206EA !important;
        border-color: #9206EA !important;
    }

    .btn-info {
        background-color: #9206EA !important;
        border-color: #9206EA !important;
    }
</style>

<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">

            @if (Model.ShowDownloadVCJsonButton || Model.ShowDownloadPdfButton)
            {
                <div class="row">
                    <div class="col">
                        @if (Model.ShowDownloadVCJsonButton)
                        {
                            <form method="post" class="float-right">
                                <input type="hidden" name="id" value="@Model.CredentialPackageViewModel.CredentialPackage.Id" />
                                <button type="submit" asp-page-handler="DownloadVCJson" class="btn btn-lg btn-outline-secondary text-secondary" title="Download Verifiable Credential"><i class="fas fa-file-download fa-2x"></i></button>
                            </form>}
                        @if (Model.ShowDownloadPdfButton)
                        {
                            <form method="post" class="float-right mr-2">
                                <input type="hidden" name="clrId" value="@Model.TranscriptPdf.ClrId" />
                                <input type="hidden" name="assertionId" value="@Model.TranscriptPdf.AssertionId" />
                                <input type="hidden" name="artifactId" value="@Model.TranscriptPdf.ArtifactId" />
                                <input type="hidden" name="evidenceName" value="@Model.TranscriptPdf.EvidenceName" />
                                <input type="hidden" name="artifactName" value="@Model.TranscriptPdf.ArtifactName" />
                                <button type="submit" class="btn text-secondary btn-lg btn-outline-secondary " title="View @Model.TranscriptPdf.ArtifactName" asp-page-handler="Pdf"><i class="fas fa-file-pdf fa-2x"></i></button>
                            </form>}
                    </div>
                </div>
            }

            <button onclick="topFunction()" id="topBtn" class="btn btn-outline-primary btn-sm" title="Go to top">Top</button>
            @Html.DisplayFor(m => m.CredentialPackageViewModel, "CredentialPackage")

            <div class="mt-3">
                <a asp-page="./Index">Back to Your Credentials</a>
            </div>
        </section>
    </div>
</div>


@section Scripts
{
    
    @{ await Html.RenderPartialAsync("_DisplayScriptsPartial"); }
}
